.next/
node_modules/
**/node_modules/
**/.next/
**/dist/
**/build/
**/coverage/
**/public/
**/*.d.ts
**/*.md
**/*.mdx
**/*.graphql
**/*.gql
**/*.css
**/*.scss
**/*.sass
**/*.less
**/*.styl
**/*.svg
**/*.png
**/*.jpg
**/*.jpeg
**/*.gif
**/*.ico
**/*.woff
**/*.woff2
**/*.eot
**/*.ttf
**/*.otf
**/generated/*
**/__generated__/*
**/*.generated.*
**/*.d.ts
**/*.d.tsx
**/*.js.map
**/*.css.map
